{% extends 'base.html' %}
<title>
    {% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
</title>
{% block content %}
    <div class="container py-5">        
        <h1>Все посты пользователя {{ author.get_full_name }}</h1>
        <h3>Всего постов: {{ author.posts.count }} </h3> 
        {% for post in page_obj %}  
            <article>
                <ul>
                    <li>
                        Автор: {{ post.author.get_full_name }}
                        <a href="">все посты пользователя</a>
                    </li>
                    <li>
                        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
                    </li>
                </ul>
                <p>
                    {{ post.text }}
                {% if post.author %}
                    </p>
                        <a href="{% url 'posts:post_edit' post.pk %}">Редактирование поста</a>
                    <p>
                {% else %}
                    </p>
                        <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
                    <p>
                {% endif %}
                    </p>
                        <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
                    <p>   
                {% if post.group %}
                    <a href="{% url 'posts:group' post.group.slug %}">все записи группы</a>
                {% endif %}
                </p>
            </article>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </div>
{% endblock %}